body{

}
p{
	text-align:justify;
}
.navbar{
	background-color:black;
}
.icon{
  margin-top:5px;
  background-color:;
  position: relative;
  overflow: hidden;
  padding-left:20px;
  padding-right:20px;
  display: inline-block;
  margin:;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}
.icon:hover{
	text-decoration:none;
	color:white;
	background-color:;
}
.icon:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(10deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.icon:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.social-icons-c i{
	background-color:grey;
	color:#444444;
	padding:20px;
	border-radius:50%;
}
.social-icons-c i:hover{
	color:white;
	background-color:black;
	cursor:pointer;
	transition:0.5s;
}

.mid-shine-but{
	width:100%;
	font-size:21px;
	margin-bottom:-5px;
	margin-top:0px;
}

.mid-shine-but:hover .nav-icon{
	color:white;
}
.mid-shine-but:hover .nav-mid-cont{
	color:white;
}
.mid-shine-but i{
	color:#444444;
	margin-top:px;
}
.nav-mid-cont{
	color:#444444;
	margin:-10px;
}
.toggle-fuide-view{
	background-color: black;
    background: url('img/toggle-banner.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}