body{
	background-image:url("img/nights.jpg");
	object-fit:cover;
	top:0;
	left:0;
	background-position:center center;
	background-repeat:no-repeat;
}
.stars{
	height:5px;
	width:5px;
	border-radius:50%;
	position:;
	background-color:white;
}
.lines{
	width:1px;
	background-color:;
	position:absolute;
}
.first-comb{
	width:500px;
	height:0px;
	background-color:;
	box-shadow:0px 0px 0px 1px white;
	left:150px;
	top:300px;
	transform:rotate(15deg);
	transition:0.5s;
}
.star-f-l{

}
.star-f-m{

}
.star-f-r{

}
.stars-alig{
	margin-top:-2px;
}
#firstCombId{
	-webkit-animation:toggleAnim 2s infinite;
	-moz-animation:toggleAnim 2s infinite;
	-o-animation:toggleAnim 2s infinite;
	animation:toggleAnim 2s infinite;
}

@-moz-keyframes toggleAnim{
0%{box-shadow:0px 0px 0px 1px white;}
33%{box-shadow:0px 0px 0px 1px transparent;}
66%{box-shadow:0px 0px 0px 1px transparent;}
100%{box-shadow:0px 0px 0px 1px white;}
}
.second-comb{
	width:200px;
	height:0px;
	background-color:;
	box-shadow:0px 0px 0px 1px white;
	left:150px;
	top:300px;
	transform-origin:right center;
	transform:rotate(0deg);
	transition:0.5s;
}
.second-sec-comb{
	width:300px;
	height:1px;
	position:absolute;
	background-color:white;
	
	left:350px;
	top:300px;
	transform-origin:left center;
	transform:rotate(50deg);
	-webkit-animation:starTogg 5s infinite;
}
#secSecStarI{
	-webkit-animation:starTogg 5s infinite;
}
@-moz-keyframes starTogg{
	0%{background-color:white;}
	90%{background-color:white;}
	100%{background-color:transparent;}
}




.icon {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: inline-block;
  
  margin: 25px 0 25px 25px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}
.icon:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.icon:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}